<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>HOA Management Inc.</h1>
          <h2></h2>
          <section id="downloads" class="clearfix">
            <a href="index.html" class="button"><span>Home</span></a>
            <a href="about.html" class="button"><span>About Us</span></a>
          </section>
          <hr>
        </header>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>Helping Homeowners Associations operate successfully and smoothly with a small personalized Management Company...and without those "extra" fees!</footer>

        
      </div>
    </div>
  </body>
</html>
